<div class=" bg-gray">
  <div class="container">

    <div class="d-flex justify-content-end px-24"><img src="assets/tom-images/person-cog.svg" alt=""></div>

    <div class="col-12">
      <div class="dis-grid">

        <div class="col-20" *ngFor="let item of productsdata">

          <img src="{{item?.image}}" alt="">

          <p class="text-gray f-12">RRP {{ item?.regularPrice | currency:'EUR':true }}</p>
          <h2><span class="text-gray">{{item?.productName}}</span> {{item?.text}}</h2>
          <p>Size {{item?.size}}</p>
          <p>{{item?.offerPrice | currency:'EUR':true }} Rental</p>

        </div>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>